.logo {
    transition: all 0.5s; /* Transición suave de 0.3 segundos */
  }
  
  /* Cambio de tamaño y color al hacer hover */
  .logo:hover{
    transform: scale(1.2); /* Aumenta el tamaño en 20% en hover */
    fill: #f3e5e5; /* Cambia el color de relleno en hover (puedes ajustar el color) */
  }

  /*CARD*/

  .my-card {
    width: 300px; /* Ajusta el ancho de la tarjeta según tus necesidades */
    height: 300px; /* Establece la altura igual al ancho para hacer la tarjeta cuadrada */
    transition: transform 0.3s; /* Agrega una transición para suavizar el efecto de agrandamiento */
}

.my-card-img-container {
    height: 100%; /* Hace que el contenedor de la imagen ocupe toda la altura de la tarjeta */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda los límites de la tarjeta */
}

.my-card-img {
    transition: transform 0.3s; /* Agrega una transición para suavizar el efecto de agrandamiento */
}

.my-card:hover .my-card-img {
    transform: scale(1.05); /* Agrandar la imagen al pasar el mouse */
}

/*BUTTON CARD*/

.custom-button {
  background: transparent; /* Fondo transparente */
  border: 2px solid #000; /* Bordes sólidos */
  color: #000; /* Color del texto */
  padding: 10px 20px; /* Espaciado interior del botón */
  transition: background 0.9s ease-in-out, color 0.6s ease-in-out;
}

.custom-button:hover {
  background: linear-gradient(to bottom, #000, #333); /* Degradado de color oscuro */
  color: #fff; /* Cambio de color del texto al pasar el cursor */
}


.custom-button.clicked {
  background: transparent; /* Fondo transparente cuando el botón ha sido clicado */
  border: 2px solid #000; /* Bordes negros cuando el botón ha sido clicado */
}

.custom-button.clicked .mdb-icon {
  display: inline; /* Mostrar el icono del carrito cuando el botón ha sido clicado */
}

.custom-button.clicked:disabled {
  background: transparent; /* Mantener el fondo transparente cuando el botón está desactivado después de hacer clic */
  border: 2px solid rgb(126, 124, 124); /* Mantener los bordes negros cuando el botón está desactivado después de hacer clic */
  pointer-events: none; /* Evitar clics adicionales en el botón desactivado */
  color:rgb(126, 124, 124);
}

.custom-button:disabled {
  background: transparent; /* Mantener el fondo transparente cuando el botón está desactivado después de hacer clic */
  border: 2px solid rgb(126, 124, 124); /* Mantener los bordes negros cuando el botón está desactivado después de hacer clic */
  pointer-events: none; /* Evitar clics adicionales en el botón desactivado */
  color:rgb(126, 124, 124);
}

/*ICONS*/

.icon {
  font-size: 1em; /* Tamaño inicial del ícono */
  transition: font-size 0.3s ease ; /* Transición suave del tamaño del ícono durante 0.3 segundos */
}

.nav-link:hover .icon {
  font-size: 1.2em; /* Aumenta el tamaño del ícono en el estado hover */
  color: red;
}

/*Cart*/

@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}

/*VALIDATION TEXT*/

.error-text {
  color: red;
  font-size: 12px; /* Tamaño de fuente personalizado */
}

/*NOTI*/

.notification {
  position: fixed;
  top: -100px; /* Inicialmente, coloca la notificación fuera de la pantalla */
  right: 20px;
  background-color: white;
  color: #0e0d0d;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
  transition: top 0.8s, opacity 0.8s; /* Agrega 's' después de los valores de tiempo para especificar segundos */
}

.notification.show {
  top: 20px; /* Muestra la notificación moviéndola hacia abajo desde la parte superior */
  display: block;
}

.notification.hide {
  top: -100px; /* Oculta la notificación moviéndola hacia arriba fuera de la pantalla */
  display: none;
}

.notification-bar {
  height: 4px;
  background-color: #171718; /* Color de la barra de tiempo */
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
}

/* Agrega una clase para animar la barra de tiempo */
.notification-bar-progress {
  animation: progress 1.5s linear;
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* menuStyles.css */
.labelnew {
  color: black;
  padding: 30px 0px 0px 80px;
  font-size: 24px; /* Ajusta el tamaño de fuente según tu preferencia */
}

/* menuStyles.css */
.ver-todo-link {
  display: block;
  margin-top: 20px; /* Ajusta la separación desde la parte superior según tu preferencia */
  text-decoration: none;
  color: rgb(34, 34, 36); /* Cambia el color del enlace según tus preferencias */
  font-size: 14px;

}

.ver-todo-link:hover {
  text-decoration: underline;
  color: darkblue; /* Cambia el color cuando el cursor está sobre el enlace */
}

/*PRODUCT DESCRIPTION*/

.app{
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  box-shadow: 0 0 5px #ccc;
}
.details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0px 0px 0px;
}
.details .big-img{
  max-width: 700px;
  min-width: 400px;
  overflow: hidden;
  margin: 25px;
  padding: 0px 0px 0px 20px;
}
.big-img img{
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box{
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span{
  color: crimson;
}
.box .colors button{
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p{
  line-height: 1.5;
  margin: 15px 0;
}
.thumb{
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img{
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active{
  opacity: 1;
  border: 1px solid lightseagreen;
}
.box .cart{
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

.color-button-detail,
.size-button-detail {
  background: transparent;
  border: none;
  text-decoration: underline;
  transition: all 0.2s ease; /* Transición suave para el hover */
}

.color-button-detail:hover,
.size-button-detail:hover {
  transform: scale(1.2); /* Aumenta el tamaño en el hover */
  opacity: 0.3; /* Hace que los colores/tamaños no seleccionados sean opacos */
}

.color-button-detail.selected,
.size-button-detail.selected {
  opacity: 1; /* Hace que los colores/tamaños seleccionados sean normales */
}

@media (max-width: 500px){
  .thumb{
    height: 50px;
  }
  .thumb img{
    width: 50px;
  }
}


/*ARROW*/

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px; /* Ajusta el espacio entre el texto y la flecha según tus preferencias */
}

.asc::after {
  content: '↑';
  font-size: 1.2em;
}

.desc::after {
  content: '↓';
  font-size: 1.2em;
}

/*SOLD OUT*/

.sold-out-badge {
  position: absolute;
  top: 120px; /* Ajusta la posición superior según sea necesario */
  right: 0px; /* Ajusta la posición izquierda según sea necesario */
  z-index: 1;
  padding: 20px;
  background-color: rgb(194, 23, 23);
  color: rgb(245, 239, 239);
  font-weight: bold;
  border-radius: 6px 0px 0px 6px;
}

.my-card-img-container {
  position: relative; /* Asegura que la posición absoluta sea relativa a este contenedor */
}

.my-card-img.sold-out {
  /* Puedes aplicar estilos adicionales para resaltar que el producto está agotado */
  opacity: 0.7;
}

